*:Zone.Identifier
/assets/vendor/*

# force include of assets used in website, as it should be hosted on github.io
!/assets/vendor/bootstrap-icons/
/assets/vendor/bootstrap-icons/*
!/assets/vendor/bootstrap-icons/font/
/assets/vendor/bootstrap-icons/font/*
!/assets/vendor/bootstrap-icons/font/bootstrap-icons.css

!/assets/vendor/bootstrap/
/assets/vendor/bootstrap/*
!/assets/vendor/bootstrap/dist/
/assets/vendor/bootstrap/dist/*
!/assets/vendor/bootstrap/dist/css
!/assets/vendor/bootstrap/dist/js
/assets/vendor/bootstrap/dist/css/*
/assets/vendor/bootstrap/dist/js/*
!/assets/vendor/bootstrap/dist/css/bootstrap.min.css
!/assets/vendor/bootstrap/dist/js/bootstrap.bundle.min.js

!/assets/vendor/boxicons
/assets/vendor/boxicons/*
!/assets/vendor/boxicons/css
/assets/vendor/boxicons/css/*
!/assets/vendor/boxicons/css/boxicons.min.css

!/assets/vendor/glightbox/
/assets/vendor/glightbox/*
!/assets/vendor/glightbox/dist/
/assets/vendor/glightbox/dist/*
!/assets/vendor/glightbox/dist/css
!/assets/vendor/glightbox/dist/js
/assets/vendor/glightbox/dist/css/*
/assets/vendor/glightbox/dist/js/*
!/assets/vendor/glightbox/dist/css/glightbox.min.css
!/assets/vendor/glightbox/dist/js/glightbox.min.js

!/assets/vendor/remixicon
/assets/vendor/remixicon/*
!/assets/vendor/remixicon/fonts/
/assets/vendor/remixicon/fonts/*
!/assets/vendor/remixicon/fonts/remixicon.css

!/assets/vendor/swiper
/assets/vendor/swiper/*
!/assets/vendor/swiper/swiper-bundle.min.css
!/assets/vendor/swiper/swiper-bundle.min.js

!/assets/vendor/@srexi
/assets/vendor/@srexi/*
!/assets/vendor/@srexi/purecounterjs
/assets/vendor/@srexi/purecounterjs/*
!/assets/vendor/@srexi/purecounterjs/dist
/assets/vendor/@srexi/purecounterjs/dist/*
!/assets/vendor/@srexi/purecounterjs/dist/purecounter_vanilla.js

!/assets/vendor/isotope-layout
/assets/vendor/isotope-layout/*
!/assets/vendor/isotope-layout/dist
/assets/vendor/isotope-layout/dist/*
!/assets/vendor/isotope-layout/dist/isotope.pkgd.min.js

!/assets/vendor/waypoints
/assets/vendor/waypoints/*
!/assets/vendor/waypoints/lib
/assets/vendor/waypoints/lib/*
!/assets/vendor/waypoints/lib/noframework.waypoints.min.js
